@page
@model IndexModel
@{
    ViewData["Title"] = "Hello World";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="../wwwroot/images/Buc-E-Mon_Coming_Soon.png" alt="Buc-E-Mon Coming Soon">
    <p>Learn about building Web apps with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
