name: Deploy to Raspberry Pi

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
  
    steps:
      - name: Clone
    
        uses: actions/checkout@v4

      - name: Make smoke wrapper executable
        run: chmod +x Scripts/run-smoke.sh



      # Initial build to ensure new commit is being tested.
      - name: Build images for smoke test
        run: docker compose build

      - name: Run smoke test via wrapper (reachability-only)
        env:
          REACHABILITY_ONLY: "1"
          TIMEOUT_SECS: "120"
        run: |
          set -e 
          ./Scripts/run-smoke.sh
      # End of Smoke test step
          
      - name: Deploy with Docker Compose
        if: success()  
        run: |
          echo "Smoke test success! Skipping Deploying."
          set -ex
          docker compose down || true
          docker compose up -d --build

      - name: Handle smoke test failure
        if: failure()  
        run: |
          echo "Smoke test failed! Skipping deployment."
          docker compose down || true 
